@keyframes slide-up-detailed-drone {
    0% {
      transform: translateX(-100%) rotate(20deg) scale(0.2);
      opacity: 0.2;
    }
    50% {
      opacity: 0.8;
    }
    70% {
      transform: translateY(-10%) scale(1);
    }
    80% {
      transform: translateY(-5%) rotate(-1deg) scale(1);
    }
    82% {
      transform: translateY(-5.5%) rotate(1deg) scale(1);
    }
    84% {
      transform: translateY(-6%) rotate(-1deg) scale(1);
    }
    86% {
      transform: translateY(-5.5%) rotate(1deg) scale(1);
    }
    88% {
      transform: translateY(-5%) rotate(0) scale(1);
    }
    90% {
      transform: translateY(-1%) scale(1);
    }
    93% {
      transform: translateY(-0.5%) translateX(-0.4%) scale(1);
    }
    96% {
      transform: translateY(-0.25%) translateX(0.3%)  scale(1);
    }
    98% {
      transform: translateY(-0.15%)  translateX(-0.2%) scale(1);
    }
    99% {
      transform: translateY(-0.10%)  translateX(0.1%) scale(1);
    }
    100% {
      transform: translateY(0%)  translateX(0%) scale(1);
    }
  }
  
  .slide-up-detailed-drone {
    animation: slide-up-detailed-drone 4s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  
  
  
  
  
  
  
  

.drone-details {
    width: 100%;
    max-width: 800px;
    min-width: 599px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .drone-model {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .drone-image {
    display: block;
    width: 100%;
    max-width: 650px;
    min-width: 100px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .drone-specs {
    font-family: "Raleway";
    margin-top: 20px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
  }
  
  .reviews-button {
    font-family: "Raleway";
    font-weight: 600;
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #6a6969;
    color:#2d2d2d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reviews-button:hover {
    font-size: 0.9em;
    background-image: linear-gradient(270deg, rgb(7, 255, 193), rgb(6, 164, 216), fuchsia, purple);
    box-shadow:  1px 5px 4px rgba(125, 124, 124, 0.631);
    transform: translateY(-10%);
    
  }

  .drone-detailed-btn {
    background-image: linear-gradient(270deg, rgb(4, 188, 249), fuchsia);
    box-shadow: 1px 3px 4px rgba(125, 124, 124, 0.631);

  }

  .detailed-drone-title {
    text-align: center;
  background-image: linear-gradient(270deg, rgb(7, 255, 193), rgb(6, 164, 216), fuchsia, purple);
  background-size: 400% 400%;
  color: transparent;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  background-clip: text;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.103);
  animation: gradientAnimation 10s ease infinite;
  }

  /* <<<--- all Reviews from Drone detailed view --->>> */
  
  .reviews-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .reviews-container2 {
    background-color: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 90%;
    max-height: 60vh; 
    overflow-y: auto; 
  }
  .reviews-container2 h1 {
      font-family: "Raleway";
      text-align: center;
      background-image: linear-gradient(270deg, rgb(217, 216, 216), silver, rgb(56, 56, 56), silver, rgba(169, 169, 169, 1), rgba(211, 211, 211, 1));
      background-size: 400% 400%;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 26px;
      font-weight: 700;
      padding: 5px 10px;
      margin-top: 20px;
      
      animation: gradientAnimation 15s ease infinite;
  }
  .reviews-container2 strong {
    font-size: 30px;
    text-shadow: 0px 0px 2px rgba(218, 165, 32, 0.418);
  }
  
  .close-reviews2 {
    top: 30px;
    right: 60px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
  }
  
  
  .reviews-list2 {
    list-style-type: none;
    padding: 0;
  }
  
  .review-item2 {
    background-color: #6a6969;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
   
  }
  
  .review-username2,
  .review-name2,
  .review-comment2 {
    margin: 0;
    color: #ffffff;
  }
  
  .review-username2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .review-name2 {
    font-size: 20px;
    margin-bottom: 10px;
    color:#beb5b5;
  }
  
  .review-comment2 {
    font-size: 14px;
    line-height: 1.4;
  }
 
  .user-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    align-content: center;
    
    
  }
  .user-rating-container > * {
    justify-content: right;
    
    width: 430px;
  }

  
 
  
  
  
