/* DroneCarousel.css */
.DroneCarousel {
    width: 80vw;
    margin: 0 auto;
    padding: 30px 20px;
}

.DroneCarousel h1 {
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, purple, fuchsia, rgb(0, 255, 191)65%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 42px;
    font-weight: 700;
    padding: 5px 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 10px 100px rgba(0, 0, 0, 0.242);
    transform: translateX(-20px);
}

.react-multi-carousel-list {
    width: 100vw;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.react-multi-carousel-dot-list {
    width: 104vw;
    height: 4%;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
    transform: translateX(-30px);
   
}

.drone-img-carousel {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.carousel-item {
    padding: 0 10px;
    margin-left: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item:hover .drone-img-carousel {
    transform: scale(1.02);
    box-shadow: 0 0px 5px rgba(249, 158, 1, 0.2);
}

.carousel-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.carousel-item p {
    text-align: center;
    margin: 5px 0;
}

.carousel-item button {
    background-color: #2d2d2d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.carousel-item button:hover {
    background-image: linear-gradient(270deg, rgb(7, 255, 193), fuchsia);
    transform: translateY(10px);
    color: #242424;
    font-weight: bold;
    animation: pulse 1s infinite;
}
