.image-section {
  height: 83vh;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(239, 239, 237);
  background-color:aliceblue;
  margin-bottom: -60px;
  background-image: url('/Users/jd/Desktop/coding/frontend-template-m3/src/assets/pentagon-background.png');
  background-repeat:repeat;
 
  
  
}

.image-section hr {
  color: rgb(255, 255, 255);
  margin-top: 30px;
}

.image-container {
  margin-top: 30px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
  position: relative;
 
  
 
}


.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  position: relative;
  overflow: hidden; 
  border-radius: 15px;
}

.image {
  width: 100%;
  height: 400px; 
  object-fit:cover;
  cursor: pointer;
  transition: transform 0.3s;
  filter: grayscale(50%);
  
}

.image-section a {
  color: aliceblue;
  text-decoration: none;
  font-size: 0.9em;
}

.image-section h1 {
  font-family: "Raleway";
}

.image-item:hover .image{
  transform: scale(1.05) ;
  filter: grayscale(0%) brightness(1.15);
  background-color: transparent;
}

.image-text {
  font-family: "Raleway";
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: aliceblue;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust background color opacity as needed */
}

