.drone-rating {
    display: flex;
  }
  
  .drone-rating-icon {
    
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
  
  .drone-rating-icon.active {
    width: 24px; 
    height: 24px;
    
  }
  
  .drone-rating-icon.light {
    fill: #cccccc; 
  }
  