.active {
  color: green;
}

/* <<<--- NAVBAR --->>> */

.navbar {
  background-color: #2d2d2d;
  color: #c0bebe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.navbar ul li:hover {
  background-color: #444;
}

.navbar a {
  text-decoration: none;
  list-style: none;
  color: #ecececd1;
  padding: 0 10px;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10vw;
  
}

.navbar img.logo {
  width: 15%;
  min-height: 10%;
  margin-left: 8px;
  margin-right: 30px;
}
.logo {
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;;
}

.logo:hover {
  transform: scale(1.1);
}

.logo.clicked {
  animation: rotateScale 1.5s, colorChange 3s infinite alternate, bounce 0.5s infinite;
  filter: hue-rotate(180deg);
}

@keyframes rotateScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.navbar nav {
  display:none;
  margin-left: -450px;
  margin-right: 100px;
  
  
}

.navbar ul li {
  display: inline;
  align-items: center;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.burger-menu {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.burger-menu:before,
.burger-menu:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.burger-menu:before {
  transform: translateY(-5px);
}

.burger-menu:after {
  transform: translateY(5px);
}

.menu-content {
  display: none;
  background-color: rgba(45, 45, 45, 0.95);
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  overflow: hidden;
  padding: 10px 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: width 0.3s ease-in-out;
}

.menu-open .menu-content {
  display: block;
  width: 250px;
}

.menu-content a {
  display: block;
  margin: 5px 0;
}

.menu-content p,
.menu-content button {
  margin-top: 10px;
}

.search-bar {
  margin-bottom: 10px;
}

.search-bar input {
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
}


@media screen and (min-width: 768px) {
  .navbar nav {
    display: block;
  }

  .menu-icon,
  .menu-content {
    display: none;
  }
}
/* <<<---- Landing Page & Video --->>> */
.landing-page {
  position: relative;
  overflow: hidden;
}

.landing-video {
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drone-model {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.see-more-btn {
  background-color: #1a73e8;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}


/* <<<---- Drone-Card --->>> */
.droneList-card {
  border:1px solid #333;
}

/* <<< Drones List --->>> */

.add-drone-button {
  background-image: linear-gradient(to left, #6a6969, #333);
  border: none;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(247, 247, 247, 0.1);
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 1px;
  transition: all 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  transform: translateY(0);
}

.add-drone-button:hover {
  background-image: linear-gradient(to right, #6a6969, #2d2d2d);
  box-shadow: 10px 6px 8px rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
  
}


.droneList-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.droneList-header p {
  letter-spacing: 5px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.droneList-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-image: linear-gradient(270deg, rgb(7, 255, 193), rgb(6, 164, 216), fuchsia, purple);
  background-size: 400% 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 56px;
  font-weight: 700;
  padding: 5px 10px;
  margin: 10px 0;
  margin-bottom: -20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: gradientAnimation 15s ease infinite;
}

.drone-item {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: calc(33.3333% - 20px);
  box-sizing: border-box;
}

.drone-item h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-image: linear-gradient(to right,purple, fuchsia , rgb(6, 164, 216), rgb(98, 255, 216));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 36px;
  font-weight: 700;
  padding: 5px 10px;
  margin: 10px 0;
  text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.5);
}


.drone-image {
  display: block;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  background-image: linear-gradient(to right, #a7a7a7, #3a3a3a);
  
}

.drone-buttons {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.drone-button {
  background-color: #2d2d2d;
  border: none;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.drone-button:hover {
  background-color: #444;
}

/* <<<--- DroneList View review Flipcard --->>> */

.reviews-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 15px;
  background-color: #2d2d2d;
  border-radius: 5px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.review-item {
  background-image: linear-gradient(to right,purple, fuchsia , rgb(6, 164, 216), rgb(98, 255, 216));
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.review-username,
.review-name,
.review-comment,
.review-rating {
  margin: 0;
  color: #2d2d2d;
}

.review-username {
  font-weight: bold;
  color: #007bff;
}
.close-reviews {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: yellow;
  cursor: pointer;
}
.reviews-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.reviews-container {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  transform: translateY(-100%) scale(0.5);
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s; /* Add this line */
}

.reviews-container.visible {
  transform: translateY(0) scale(1); 
  opacity: 1;
}



/* USER NAME NOT VISBLE!!!! */

/* <<<--- Add new review Form --->>>  */
.create-review {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-review-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.create-review-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url('https://cdn.sanity.io/images/mgxz50fq/production/dad0b7289266d8e45b9f36c9283efbafb888d311-5000x3074.png?w=2560&h=1574&auto=format') ;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  animation: slide-down 1s ease-out forwards; 

}
.create-review-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://cdn.sanity.io/images/mgxz50fq/production/dad0b7289266d8e45b9f36c9283efbafb888d311-5000x3074.png?w=2560&h=1574&auto=format');
  background-size:cover;
  background-position: center;
  z-index: -1;
}

.create-review-form-submitted {
  animation: slide-up 5s cubic-bezier(0.5, 0, 1, 1) forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.create-review-form label {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 10px 0;
}

.create-review-form input,
.create-review-form textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #0d1117;
  background-color: rgba(255, 255, 255, 0.528);
  color: rgb(126, 69, 126);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}


.create-review-form input:focus,
.create-review-form textarea:focus {
  border-color: #6a6969;
}

.create-review-submit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 500px;
  background-color: #6a6969;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 65px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.create-review-submit:hover {
  font-size: 14.5px;
  color: #2d2d2d;
  background-color: transparent;
  background-image: radial-gradient(circle,transparent -15%, rgb(112, 254, 254), darkorchid);
}



/* <<<--- Add new drone Form --->>>  */

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.create-drone-form {
  display: flex;
  flex-direction: column;
  animation: slide-down 1s ease-out forwards; /* Add this line */
}


.create-drone {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-drone-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.create-drone-form {
  display: flex;
  flex-direction: column;
}

.create-drone-form label {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 10px 0;
}

.create-drone-form input {
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.create-drone-form input:focus {
  border-color: #6a6969;
}

.create-drone-submit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: #6a6969;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.create-drone-submit:hover {
  
  font-size: 14.5px;
  color: #2d2d2d;
  background-image: radial-gradient(circle, limegreen, darkorchid);
}

/* Add the slide-up keyframe animation */
@keyframes slide-up {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Add the slide-up class */
.slide-up {
  animation: slide-up 1s ease-out forwards;
}




/* <<<---- PostsList --->>> */

body {
  background-color: #0d1117;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.postsList-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postsList-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #58a6ff;
  text-transform: uppercase;
  text-align: center;
}

.postsList-container button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #58a6ff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.postsList-container button:hover {
  background-color: #4f92e9;
}

.postsList-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(583px, 1fr));
  gap: 20px;
}

.post-card {
  background-color: #161b22;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.post-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.post-card .post-content {
  padding: 20px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.post-card .post-content h3 {
  margin-bottom: 10px;
}

.post-card .post-content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
}

.post-card .post-content a {
  display: inline-block;
  width: calc(40% - 4px);
  padding: 10px;
  background-color: #58a6ff;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-left: 8px;
  clip-path: polygon(15px 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
}

.post-card .post-content a:first-child {
  margin-right: 8px;
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 15px 100%);
}

.post-card .post-content a:hover {
  background-color: #4f92e9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.post-card .post-content a:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.single-post .post-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
  max-height: 90vh;
  overflow-y: auto;
}

.single-post .post-card img {
  height: auto;
}

.single-post .post-card .post-content {
  padding: 40px 20px;
}

/* <<<--- Post Details --->>> */

.postDetails-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.postDetails-container > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-items: center;
  background-color: #333;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(184, 184, 184, 0.3);
  max-width:1800px;
  width: 100%;
}

.postDetails-container img {
  /* width: 900px;
  height: 700px; */
  max-width: 100%;
  max-height: 850px;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px rgba(131, 129, 129, 0.3);
}

.postDetails-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  align-items: center;
  justify-items: center;
}


.postDetails-container p {
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 1.5;
  width: 80%;
  text-align: center;
  
}
