.active {
  color: green;
}
/* <<<--- NAVBAR --->>> */

.navbar {
  background-color: #ffffff;
  color: #333;
  display:flex;
  align-content:center;
  justify-content: space-between;
  color: rgb(223, 220, 220);
}
.navbar ul li:hover {
  background-color: #444;
}
.navbar a {
  padding-left: 30px;
  text-decoration: none;
  list-style: none;
  color:#333;
}
.navbar img {
  width: 250px;
  height: 100px;
}
.menu-icon {
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.navbar ul li {
  align-items: center;
  display: inline;
  font-family: 'Montserrat', sans-serif;
}
.burger-menu {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(100%);
  transition: all 0.2s ease-in-out;
}

.menu-icon:hover .burger-menu {
  transform: translateY(-50%) rotate(180deg);
}

.menu-icon:hover .burger-menu:before {
  
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon:hover .burger-menu:after {
  transform: rotate(-45deg) translate(5px, -5px);
}

.burger-menu:before,
.burger-menu:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  color:#333;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.burger-menu:before {
  transform: translateY(-5px);
  color:#333;
}

.burger-menu:after {
  transform: translateY(5px);
}
/* <<<---- Drone-Card --->>> */
.droneList-card {
  border:1px solid #333;
}

/* <<<---- PostsList --->>> */

body {
  background-color: #0d1117;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.postsList-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postsList-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #58a6ff;
  text-transform: uppercase;
  text-align: center;
}

.postsList-container button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #58a6ff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.postsList-container button:hover {
  background-color: #4f92e9;
}

.postsList-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(583px, 1fr));
  gap: 20px;
}
.post-card {
  background-color: #161b22;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;

}

.post-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.post-card .post-info {
  padding: 20px;
}

.post-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #58a6ff;
  text-transform: uppercase;
}

.post-card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
}



.post-card .post-content {
  padding: 20px;
  /* display:block; */
  flex-direction:column;
  flex-grow: 1;
  justify-content: space-between;
  
}

.post-card .post-content a {
  display: inline-block;
  width: calc(40% - 4px);
  padding: 10px;
  background-color: #58a6ff;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  margin-left: 8px;
  ;
  clip-path: polygon(15px 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
}

.post-card .post-content a:first-child {
  margin-right: 8px;
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 15px 100%);
}

.post-card .post-content a:hover {
  background-color: #4f92e9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.post-card .post-content a:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}



