.login-page {
    position: relative;
    width: 100%;
    height: calc(100vh);
    overflow: hidden;
    margin-bottom: -60px;
    margin-top: 0px;
    
  }

  .login-title {
    color: rgb(239,239,237);
    font-family: "Raleway";
    font-weight: lighter;
    transform: translateY(100px);
    text-align: center;
    
  
  }
  
  /* .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit:cover;
    transition: filter 1s ease;
    
    
  } */
  
  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: scaleUp 2s ease-out forwards;
   
  }

.background-video.dimmed {
    filter: opacity(60%);
  }
  
  @keyframes scaleUp {
    0% {
      transform: translateY(-110%) translate(-15%) scale(0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  .login-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 2rem;
    border-radius: 5px;
    width: calc(22.3%);
    min-width: 300px;
  }

  .login-form h1 {
    color: #333;
  }
  
  .login-form label {
    color: #333333ae;
    margin-bottom: 0.5rem;
    
  }
  
  .login-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    
  }
  
  .login-form button {
    padding: 0.5rem 1rem;
    background-color: #101992c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }

  .login-form a {
    padding: 15px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size:0.75em;
    color: #0056b3;
    transform: translateY(10%);
  }
  .login-form strong {
    font-family: "Raleway";
    font-size: 1.2em;
    letter-spacing: 1px;
    text-decoration: none;
    
    
  }
  
  .error-message {
    color: red;
    margin-bottom: 1rem;
  }
  